/*--Restaurants*/



h2 {
  font-family: 'Shrikhand', cursive;
}

.restaurant {
    background-color: gainsboro;
    padding: 30px 5px 30px 5px;
   h2{
     padding-left: 10px;
   }
  }

  .block__resto {
    background-color: white;
    border-radius: 25px 25px 25px 25px; 
    height: 225px;
    margin: 10px;
    line-height: 0px;
    padding: 0,2px;


    .lieu_coeur {
      display: flex;
      justify-content: space-between;
    }

    .coeur{
      padding-right: 10px;
    }

    p {
      margin-left: 10px;
    }
    h4 {
      margin-left: 10px;
    }

    img{
      height: 150px;
      width: 368px;
      object-fit: cover ;
      border-radius: 25px 25px 0px 0px;
      margin: 0px;
      
    }
    
    
  }

  .lieu_restaurant{
    font-weight: 100;
  }
  

  /*Page restaurant*/

  .head h1{
    font: 'Shrikhand', cursive;
  }
  
  p{
    font-size: 12px;
  }

  .head__img img{
    height: 300px;
    width: 400px;
    object-fit: cover;
    margin: 0px;
    
  }
  .repas__titre {
    font-weight: bolder;
  }
  .main__menu {
    background-color: rgb(224, 222, 222);
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
  }


  .animation_check {
    display: flex;
  }

    .plats_nom {
    background-color: white;
    padding: 1px 10px 1px 5px;
    margin: 5px;
    height: 75px;
    width: 355px;
    line-height: 1px;
    text-indent: 10px;
    border-radius: 25px 25px 25px 25px;
    }

    .check {
      transition: ease-in .5s;;
      position: absolute;
      opacity: 0;
      justify-items: right;
      margin-left: 290px;
      justify-content: center;
      background-color: #99E2D0;
      padding: 1px 7px 1px 10px;
      margin: 5px 0px 0px 313px;
      border-radius: 0px 25px 25px 0px;
      width: 45px;
      
     
    }

    .fa-check-circle {
      color: white;
      line-height: 75px;
      text-indent: 10px;
      text-align: center;
      vertical-align: middle;
      animation-name: rotate;
      animation-duration: 2s;
    }

    @keyframes rotate {
      0% {
        transform: rotate(-380deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    .animation_check:hover .plats_nom {
      width: 295px;
      border-radius: 25px 0px 0px 25px;
      transition: 0.5s ease-in;
    }

    .animation_check:hover .check {
      opacity: 1;
      transition:ease 0.5s;
    }

    .plats_composants {
      display: flex;
      justify-content: space-between;
    }
   
    
    /* rétrécir la case , "width"
    z-index à faire sur .plats_nom (z-index= 2) ou jouer avec flexbox*/ 


 /*
 .checked {
     à cacher SOUS .plats_nom
     background à ne pas oublier 
     border
     font awesome "check"
     z-index à faire sur .checked (z-index= 1) ou jouer avec flexbox

 }
 */

.btn__commander{
  text-align: center;
  margin : 30px 0px 30px 0px;
}
  .btn__commander button{

    background: linear-gradient(-50deg ,#9356DC, #FF79DA);
    background-blend-mode: lighten;
    color:white;
    padding: 15px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 6px #000;
  }

  


.menu__full {
    animation-name: fade_down2;
    animation-duration: 5s;
}

@keyframes fade_down2 {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .francaise {
    background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 600px;
    padding: 265px 0px 0px 0px;
    border-radius: 0px;
    object-fit:contain;
  }