@charset "UTF-8";
/*.plats {
    animation: fadein 6s ease-in-out;
    @include desktop {
      width: 400px;
    }
  }*/
footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}

h3 {
  font-family: "Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 5px;
}

.fa-hands-helping {
  margin-right: 5px;
}

/*--Restaurants*/
h2 {
  font-family: "Shrikhand", cursive;
}

.restaurant {
  background-color: gainsboro;
  padding: 30px 5px 30px 5px;
}
.restaurant h2 {
  padding-left: 10px;
}

.block__resto {
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  height: 225px;
  margin: 10px;
  line-height: 0px;
  padding: 0, 2px;
}
.block__resto .lieu_coeur {
  display: flex;
  justify-content: space-between;
}
.block__resto .coeur {
  padding-right: 10px;
}
.block__resto p {
  margin-left: 10px;
}
.block__resto h4 {
  margin-left: 10px;
}
.block__resto img {
  height: 150px;
  width: 368px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
  margin: 0px;
}

.lieu_restaurant {
  font-weight: 100;
}

/*Page restaurant*/
.head h1 {
  font: "Shrikhand", cursive;
}

p {
  font-size: 12px;
}

.head__img img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  margin: 0px;
}

.repas__titre {
  font-weight: bolder;
}

.main__menu {
  background-color: #e0dede;
  border-radius: 25px 25px 0px 0px;
  padding: 10px;
}

.animation_check {
  display: flex;
}

.plats_nom {
  background-color: white;
  padding: 1px 10px 1px 5px;
  margin: 5px;
  height: 75px;
  width: 355px;
  line-height: 1px;
  text-indent: 10px;
  border-radius: 25px 25px 25px 25px;
}

.check {
  transition: ease-in 0.5s;
  position: absolute;
  opacity: 0;
  justify-items: right;
  margin-left: 290px;
  justify-content: center;
  background-color: #99E2D0;
  padding: 1px 7px 1px 10px;
  margin: 5px 0px 0px 313px;
  border-radius: 0px 25px 25px 0px;
  width: 45px;
}

.fa-check-circle {
  color: white;
  line-height: 75px;
  text-indent: 10px;
  text-align: center;
  vertical-align: middle;
  animation-name: rotate;
  animation-duration: 2s;
}

@keyframes rotate {
  0% {
    transform: rotate(-380deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animation_check:hover .plats_nom {
  width: 295px;
  border-radius: 25px 0px 0px 25px;
  transition: 0.5s ease-in;
}

.animation_check:hover .check {
  opacity: 1;
  transition: ease 0.5s;
}

.plats_composants {
  display: flex;
  justify-content: space-between;
}

/* rétrécir la case , "width"
z-index à faire sur .plats_nom (z-index= 2) ou jouer avec flexbox*/
/*
.checked {
    à cacher SOUS .plats_nom
    background à ne pas oublier 
    border
    font awesome "check"
    z-index à faire sur .checked (z-index= 1) ou jouer avec flexbox

}
*/
.btn__commander {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.btn__commander button {
  background: linear-gradient(-50deg, #9356DC, #FF79DA);
  background-blend-mode: lighten;
  color: white;
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 4px 4px 6px #000;
}

.menu__full {
  animation-name: fade_down2;
  animation-duration: 5s;
}

@keyframes fade_down2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.francaise {
  background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 600px;
  padding: 265px 0px 0px 0px;
  border-radius: 0px;
  object-fit: contain;
}

/*Loader*/
.loader {
  display: none;
  background-color: #9356DC;
  height: 2010px;
  width: 400px;
  line-height: 730px;
  text-align: center;
  position: absolute;
  justify-content: center;
  animation-name: loader-ease;
  animation-duration: 5s;
}

@keyframes loader-ease {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*body*/
.head {
  height: 60px;
}

.head img {
  width: 50%;
  margin: auto;
}

p {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/* Page principale */
.barre {
  background: #eaeaea;
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}
.barre .barre_recherche {
  margin-left: 55px;
}
.barre input {
  background: #eaeaea;
  border-color: #eaeaea;
  border-style: none;
  margin-left: 10px;
}

.introduction h2 {
  font-weight: bolder;
  text-align: center;
}
.introduction p {
  text-align: center;
  color: #4d4d4d;
}

.center_btn {
  text-align: center;
}

.btn_explorer {
  /*revoir class pour mieux styliser/center*/
  background: linear-gradient(-50deg, #9356DC, #FF79DA);
  color: white;
  padding: 15px;
  width: 230px;
  border-radius: 25px 25px 25px 25px;
  border-color: ghostwhite;
  box-shadow: 4px 1px 6px ghostwhite;
}

/*Fonctionnement*/
.fonction {
  margin-bottom: 50px;
}

.fonction h2 {
  padding: 20px;
}

@media screen and (min-width: 1440px) {
  .fonction h2 {
    text-align: center;
  }
}
.fonction__etape {
  list-style-type: none;
  padding: 3px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .fonction__etape {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.fonction__etape li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px 20px 15px 0px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: whitesmoke;
}

.fonction__etape li p {
  font-weight: 500;
  margin-left: 20px;
}

.fonction__etape li:hover {
  background: #f2eafb;
}

.fonction__etape li:hover .fas {
  color: #9356dc;
}

.fonction__etape--num {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
}

.fa-mobile-alt {
  margin-left: 20px;
}

.fa-list {
  margin-left: 20px;
}

.fa-store {
  margin-left: 20px;
}

.lieu_restaurant {
  display: fex;
}

.fas {
  color: grey;
}

.fa-utensils {
  color: white;
}

.fa-hands-helping {
  color: white;
}

.fa-heart:hover {
  color: #9356dc;
}

/*# sourceMappingURL=style.css.map */
